body{
    padding: 0 0;
}

.img-a{
    padding: 0 0;
}

.img-logo{
    height: 50px;
}

.photo{
    margin-right: 20px;
}

.photo a img{
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.plate{
    margin-left: 30px;
}

.search-input{
    max-width: 196px;
}

.left-nav{
    border-right: solid 1px darkgray;
    margin-top: -20px;
}

.service-list{
    margin: 0 0;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px darkgray;
}