body {
    background-image: url("../../../static/image/bg.jpg");
}

.image {
    padding: 0 0;
    margin: 0 0;
    overflow: hidden;
}

.title {
    height: 80px;
    margin: 0 0;
    padding: 0 0;
}

.text-title{
    margin:  0 0;
    line-height: 80px;
}

.col-border {
    background-color: #FFF;
    margin-top: 120px;
    border-radius: 20px;
    overflow: hidden;
}

.login-title{
    height: 35px;
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    line-height: 35px;
    background-color: #d9edf7;
}

.login-btn {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.footer-navbar {
    min-height: 20px;
    height: 25px;
    font-size: 15px;
    opacity: 0.5;
}

.forgetpsw:hover{
    cursor: pointer;
}